<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container text-center">
    <h1>Save any kind of <strong>movies</strong></h1>
    <p>& chill</p>
  </div>
</div>


<div class="container lists-collection text-center">
  <div class="list-header">
    <h1>My Lists</h1>
    <%= link_to "Create list", new_list_path, class:"btn btn-flat btn-right"%>
  </div>

    <div class="cards">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.cover_url %>)">
          <h2 class="list-name"><%= list.name %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
