<div class="container">
  <div class="text-center">
    <h1>Your Lists</h1>
    <div class="row">
      <%= @lists.each do |list| %>
        <h2 class="list-name"><%= @list.name %></h2>
      <% end %>
    </div>
    <%= link_to "Create list", new_list_path, class:"btn btn-primary"%>
  </div>
</div>
