// Specific CSS for your home-page
.lists-collection {
  padding-top: 20px;
  h1 {
    text-align: left;
    font-size: 30px;
  }
}

.list-header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmark-list-header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;}
