// Specific CSS for your home-page
.container {
  width: 1200px;
  margin-top: 2em;
}

.page-header-spaced {
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 40px;
  }
}

.bookmarks-flex-container {
  padding: 15px;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: space-evenly;
}

.review-form-container {
  background: white;
  padding: 20px;
  width: auto;

  .review-form {
    width: 300px;
  }

  h1 {
      font-size: 18px;
      font-weight: 800;
  }
}


.bookmarks-container-right {
  width: 400px;
  padding: 15px;

  .list-actions {
  padding: 15px;
  }
}


// .new-list-flex-container {
//   display: flex;
//   justify-content: center;
// }

// .new-list-container {
//   background: rgba(254, 241, 202, 0.409);
//   border: 1px #65625b73 solid;
//   padding: 20px;
//   margin: 20px;
//   width: 35rem;

//   .new-list {
//     padding: 15px;
//     width: 100%;
//   }
// }

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 24px;
  width: 100%;
}

.form-styled {
  background-color: #c22e04;
  color: #eee;
  border-radius: 2px;
  border: 1px solid #591607;
  padding: 32px;
  width: 50%;
}

.card-movie-overview {
  background-color: #eee;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.5s ease-in;
}
