<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="flex-container">
    <div class="banner-text text-center">
      <h1>Save any kind of <strong>movies</strong></h1>
      <p>& chill</p>
    </div>
  </div>
</div>
