<div class="form">
  <%= simple_form_for [ @list ] do |l| %>
      <%= l.input :name, placeholder: 'List name' %>
      <%= l.input :photo, as: :file %>
      <%#= l.input :cover_url, placeholder: 'Cover Image URL' %>
      <%= l.submit class: "btn btn-primary" %>
      <%#= link_to "Cancel", lists_path, class: "btn btn-danger"  %>
  <% end %>
</div>
