<div class="form">
  <%= simple_form_for [ @list, @bookmark ] do |b| %>
    <%= b.association :movie %>
    <%= b.input :comment, placeholder: 'Bookmark comment' %>
    <%= b.submit class: "btn btn-primary" %>
  <% end %>
  <% link_to "Cancel", lists_path, class: "btn btn-danger"  %>
</div>
