<div class="navbar navbar-expand">
  <div class="container-fluid">
    <%= link_to lists_path, class:"navbar-brand" do %>
        <img src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png"/>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My Lists", lists_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Create list", new_list_path, class:"nav-link"%>
          </li>
      </ul>
    </div>
  </div>
</div>
