.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: 0;
    height: 0;
  }

  .flex-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


#movie-count-top-right {
  padding: 6px 18px;
  position: absolute;
  top: -10rem;
  right: 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(194, 46, 4, 0.7);

  #movie-count {
    font-size: 18px;
    color: white;
    margin: 0px;
  }
}
