.btn {
    color: white;
    transition: background 0.3s ease;
    font-size: 15px;
    border-radius: 4px;
  }

  .btn-flat {
  padding: 16px 24px;
  background: $movie-red;

  .btn-flat:hover {
    background: darkred;
    color: white;
  }
}

.btn-danger {
  background-color: darkred;
  border-color: darkred;

  .btn-danger:hover {
    background-color: $movie-red;
    border-color: $movie-red;

    color: white;
  }
}

.edit-btn {

}
