.btn-flat {
  padding: 16px 24px;
  border-radius: 4px;
  background: $movie-red;
  transition: background 0.3s ease;
  font-size: 15px;
}

.btn-flat:hover {
  background: $movie-red;
}

.btn {
    color: white;
  }

  .delete-btn {
    background-color: $movie-red;
  }
