.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #c22d05;
  transition: background 0.3s ease;
  font-size: 15px;
}

.btn-flat:hover {
  background: #932204;
  color: white;
}
