.navbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 65px;
  z-index: 1;
  background-image: linear-gradient(black 55%, transparent);

  // .container-fluid {
  //   position: absolute;
  //   top: 0;
  // }

}

.nav-link {
  color: white;

}

.nav-link:hover {
  color: $movie-red;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-brand:hover img{
  /*customizable*/
  transition: 0.2s ease-out;
  background-image: url(https://cdn-icons-png.flaticon.com/512/777/777242.png);
}
